<% provide(:page_title, "User Profile: #{@user.name}") %>

<div class="content-card">
	<div class="row">
		<div class="col-auto">
			<div class="row show-identity">
				<div class="col-auto">
					<%= gravatar_for(@user, size: 100) %>
				</div>
				<div class="col-auto">
					<h3><%= @user.name %></h3>
					<% if @user == current_user %>
						<p>
							<%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
						</p>
						<p>
							<%= link_to "Delete Account", user_path(@user),
																						method: :delete,
																						data: { confirm: "Delete Account?" },
																						class: "btn btn-danger" %>
						</p>
					<% end %>		
				</div>
			</div>
		</div>
		<div class="col-auto">
			<% if @user.microposts.any? %>
				<ol class="microposts">
					<h2>Microposts (<%= @user.microposts.count %>)</h2>
					<%= render @microposts %>
				</ol>
				<%= will_paginate(@microposts, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer,
																			 class: "pagination-bar-bottom") %>
			<% end %>
		</div>
	</div>
</div>