<% provide(:page_title, "User Profile: #{@user.name}") %>

<div class="content-card">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-auto">
			<%= gravatar_for(@user, size: 45) %>
		</div>
		<div class="col-md-3">
			<h2><%= @user.name %></h2>
			<% if @user == current_user %>
				<%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
				<%= link_to "Delete Account", user_path(@user),
																			method: :delete,
																			data: { confirm: "Delete Account?" },
																			class: "btn btn-danger" %>
			<% end %>		
		</div>
		<div class="col-md-auto">
			<h4>Name: <%= @user.name %></h4>
			<h4>Email: <%= @user.email %></h4>
			<h5>Profile last updated: <%= @user.updated_at %></h5>
			<h5>Profile created: <%= @user.created_at %></h5>
		</div>
	</div>
	<hr>
	<div class="center">Your posts will be here!</div>
</div>