<footer class="footer">
	<small>
		<%= link_to "The Ruby on Rails Tutorial", "http://railstutorial.org" %>
		by
		<%= link_to "Michael Hartl", "http://michaelhartl.com" %>
	</small>
	<nav>
		<ul>
			<li>
      	<%= link_to "About", about_path %>
			</li>
			<li>
      	<%= link_to "Contact", contact_path %>
			</li>
			<li>
      	<%= link_to "News", "http://news.railstutorial.org" %>
			</li>
		</ul>
	</nav>
</footer>