<div class="header-card">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  		<%= link_to "SAMPLE APP", root_path, id: "navbar-brand", class: "col-lg-3" %>
	  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
		  <div class="collapse navbar-collapse col-lg-9" id="navbarNav">
		    <ul class="navbar-nav container justify-content-end">
		      <li class="nav-item <%= active("static_pages", "home") %>">
		      	<%= link_to "Home", root_path, class: "nav-link" %>
		      </li>
		      <li class="nav-item <%= active("static_pages", "help") %>">
		      	<%= link_to "Help", help_path, class: "nav-link" %>
		      </li>
	      	<% if logged_in? %>
			      <li class="nav-item">
			     		<%= link_to "Users", "#", class: "nav-link" %>
			      </li>
			      <li class="nav-item dropdown">
			      	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
			      		 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          			Account
        			</a>
			      	<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
					      <li>
					     		<%= link_to "#{current_user.name}", current_user, class: "nav-link dropdown-item" %>
					      </li>
					      <li>
					     		<%= link_to "Settings", "#", class: "nav-link dropdown-item" %>
					      </li>
					      <li class="dropdown-divider"></li>
					      <li>
					     		<%= link_to "Logout", logout_path, method: :delete,
					     																			 data: { confirm: "Are you sure?" },
																				     				 class: "nav-link dropdown-item" %>
					      </li>
					    </ul>
					  </li>
			    <% else %>
			      <li class="nav-item <%= active("sessions", "new") %>">
			     		<%= link_to "Login", login_path, class: "nav-link" %>
			      </li>
	      	<% end %>
			    </ul>
		  </div>
	</nav>
</div>